:root {
  --main-font-weight: 400;
  --main-bg-color: #fafafa;
}

@font-face {
  font-family: "Ibarra Real Nova";
  font-weight: 700;
  src: url("../fonts/ibarra-real-nova-v20-latin-700.woff2") format("woff2"), url("../fonts/ibarra-real-nova-v20-latin-700.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/public-sans-v14-latin-regular.woff2") format("woff2"), url("../fonts/public-sans-v14-latin-regular.woff") format("woff");
}
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

img {
  display: block;
  height: auto;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Public Sans", "Arial", sans-serif;
}

.site-main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 1150px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 32px;
  padding-right: 32px;
}

@media only screen and (min-width: 992px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.site-header {
  padding-top: 32px;
  padding-bottom: 24px;
  background-color: var(--main-bg-color);
}

.site-header__wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__burger {
  display: block;
  width: 24px;
  height: 19px;
  background-color: transparent;
  background-image: url("/images/burger.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

.sitenav {
  position: absolute;
  z-index: 11;
  top: 61px;
  right: -32px;
  display: none;
  width: 223px;
  height: auto;
  padding: 40px 24px;
  white-space: nowrap;
  background-color: #33323d;
  -webkit-animation-name: burger;
          animation-name: burger;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: 0.5s;
          animation-fill-mode: 0.5s;
}

@-webkit-keyframes burger {
  0% {
    right: -400px;
  }
  100% {
    right: -32px;
  }
}

@keyframes burger {
  0% {
    right: -400px;
  }
  100% {
    right: -32px;
  }
}
.sitenav__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.sitenav__item:not(:last-child) {
  list-style-type: none;
  margin-bottom: 30px;
}

.sitenav__link {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  text-decoration: none;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

.close {
  background-color: transparent;
  background-image: url("/images/close.svg");
  background-repeat: no-repeat;
  background-size: 19px 19px;
  background-position: center;
}

.open {
  display: block;
}

.overflow {
  overflow: hidden;
}

@media only screen and (min-width: 650px) {
  .site-header {
    padding-top: 69px;
    padding-bottom: 56px;
  }
  .site-header__burger {
    display: none;
  }
  .sitenav {
    position: static;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    background-color: transparent;
    width: 100%;
    height: auto;
  }
  .sitenav__item:nth-child(n) {
    margin-bottom: 0;
  }
  .sitenav__list {
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    border-top: none;
    padding-top: 0;
  }
  .sitenav__close {
    display: none;
  }
  .sitenav__item:not(:first-child) {
    margin-left: 43px;
  }
  .sitenav__link {
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #33323d;
  }
  .sitenav__link:active {
    color: #5fb4a2;
  }
  .sitenav__link--active {
    color: #5fb4a2;
  }
  .overflow {
    overflow: scroll;
  }
}
@media only screen and (min-width: 992px) {
  .site-header {
    padding-top: 73px;
    padding-bottom: 63px;
  }
}
.hero {
  background-color: var(--main-bg-color);
}

.hero__wrapper {
  padding-top: 270px;
  background-image: url("/images/hero.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 270px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 124.8dpi), only screen and (min-resolution: 1.3dppx) {
  .hero__wrapper .hero__wrapper {
    background-image: url("/images/hero@2x.jpg");
  }
}

.hero__box {
  padding-top: 24px;
  padding-bottom: 96px;
  background-color: var(--main-bg-color);
}

.hero__heading {
  margin-top: 0;
  font-family: "Ibarra Real Nova";
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323d;
}

.hero__link {
  display: inline-flex;
  align-items: center;
  max-width: 200px;
  width: 200px;
  padding-right: 35px;
  font-weight: 400;
  font-size: 12px;
  text-decoration: none;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #203a4c;
  color: #ffffff;
}

.hero__link::before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-right: 35px;
  background-color: rgba(0, 0, 0, 0.1882352941);
  background-image: url("/images/about-linkl-decor.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hero__link:hover {
  background-color: #5fb4a2;
  transition: background 0.6s ease;
}

@media only screen and (min-width: 380px) {
  .hero__wrapper {
    padding-top: 320px;
    background-size: 100% 320px;
  }
}
@media only screen and (min-width: 500px) {
  .hero__wrapper {
    padding-top: 380px;
    background-size: 100% 380px;
  }
}
@media only screen and (min-width: 530px) {
  .hero__wrapper {
    padding-top: 380px;
    background-size: 100% 380px;
  }
}
@media only screen and (min-width: 650px) {
  .hero__wrapper {
    padding-top: 290px;
    background-image: url("/images/hero-tablet.jpg");
    background-size: 100% 100%;
  }
}
@media only screen and (min-width: 650px) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 650px) and (min-device-pixel-ratio: 1.3), only screen and (min-width: 650px) and (min-resolution: 124.8dpi), only screen and (min-width: 650px) and (min-resolution: 1.3dppx) {
  .hero__wrapper {
    background-image: url("/images/hero-tablet@2x.jpg");
  }
}
@media only screen and (min-width: 650px) {
  .hero__box {
    width: 514px;
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 650px) {
  .hero__heading {
    margin-bottom: 53px;
  }
}
@media only screen and (min-width: 992px) {
  .hero__wrapper {
    padding-top: 300px;
    background-image: url("/images/hero-desktop.jpg");
    background-size: 100% 100%;
  }
}
@media only screen and (min-width: 992px) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 992px) and (min-device-pixel-ratio: 1.3), only screen and (min-width: 992px) and (min-resolution: 124.8dpi), only screen and (min-width: 992px) and (min-resolution: 1.3dppx) {
  .hero__wrapper {
    background-image: url("/images/hero-desktop@2x.jpg");
  }
}
@media only screen and (min-width: 992px) {
  .hero__box {
    width: 445px;
    padding-top: 55px;
    padding-right: 55px;
  }
}
@media only screen and (min-width: 992px) {
  .hero__heading {
    font-size: 50px;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.446429px;
  }
}
.site-footer {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #33323d;
}

.site-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-footer__logo {
  display: block;
  margin-bottom: 40px;
}

.site-footer__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-left: 0;
  list-style: none;
  margin-bottom: 40px;
}

.site-footer__item:not(:last-child) {
  margin-bottom: 32px;
}

.site-footer__link {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.site-footer__social {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.site-footer__social-item:nth-child(2) {
  margin-right: 16px;
  margin-left: 16px;
}

.site-footer__social-link svg {
  fill: #fff;
}

@media only screen and (min-width: 650px) {
  .site-footer {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .site-footer__logo {
    margin-bottom: 0;
  }
  .site-footer__wrapper {
    flex-direction: row;
  }
  .site-footer__nav {
    flex-direction: row;
    margin-right: auto;
    margin-left: 49px;
    margin-bottom: 0;
  }
  .site-footer__item:nth-child(n) {
    margin-bottom: 0;
  }
  .site-footer__item:not(:last-child) {
    margin-right: 42px;
  }
}
/* Alex section bigen */
.alex {
  background-color: var(--main-bg-color);
}

.alex__img {
  width: 100%;
}

.alex__box {
  margin-top: 32px;
  padding-top: 32px;
  padding-bottom: 50px;
  border-top: 1px solid rgba(51, 50, 61, 0.0823529412);
  border-bottom: 1px solid rgba(51, 50, 61, 0.0823529412);
}

.alex__heading {
  margin-top: 0;
  margin-bottom: 28px;
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323D;
}

.alex__title {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #33323d;
  opacity: 0.8;
}

.alex__portfolio {
  display: inline-block;
  max-width: 210px;
  padding: 17px 36px;
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #33323d;
  border: 1px solid #33323d;
}

.alex__portfolio:hover {
  background-color: #33323d;
  color: #fff;
  transition: background 0.6s ease;
}

@media only screen and (min-width: 650px) {
  .alex {
    padding-top: 93px;
  }
  .alex__wrapper {
    display: flex;
  }
  .alex__box {
    max-width: 359px;
    margin-top: 0;
    margin-left: 59px;
    padding-top: 50px;
    padding-right: 10px;
    padding-bottom: 46px;
    padding-left: 10px;
  }
  .alex__img {
    min-width: 281px;
    width: 100%;
    height: 100%;
  }
}
/* Alex section end */
/*interested section bigen*/
.interested {
  padding-top: 115px;
  padding-bottom: 80px;
  background-color: var(--main-bg-color);
}

.interested__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interested__box {
  min-width: 311px;
}

.interested__heading {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.357143px;
  color: #33323d;
}

.interested__contact {
  max-width: 165px;
  padding: 17px 32px;
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #33323d;
  border: 1px solid #33323d;
}

.interested__contact:hover {
  background-color: #33323d;
  color: #fff;
  transition: background 0.6s ease;
}

@media only screen and (min-width: 650px) {
  .interested__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .interested__box {
    width: 350px;
  }
  .interested__line {
    display: inline-block;
    flex-grow: 1;
    height: 1px;
    margin-left: 32px;
    background-color: #33323d;
    opacity: 0.15;
  }
  .interested__heading {
    margin-top: 0;
    margin-bottom: 0;
    text-align: start;
  }
  .interested__contact {
    margin-left: 32px;
  }
}
@media only screen and (min-width: 992px) {
  .interested {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
/*interested section end*/
/*CONTACT HTML FILE BIGEN */
/*touch section bigen*/
.touch {
  padding-top: 20px;
  padding-bottom: 31px;
  background-color: var(--main-bg-color);
}

.touch__wrapper {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid rgba(51, 50, 61, 0.0823529412);
  border-bottom: 1px solid rgba(51, 50, 61, 0.0823529412);
}

.touch__heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323d;
}

.title-box__text {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #33323d;
  opacity: 0.8;
}

.title-box__list {
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.title-box__item:nth-child(2) {
  margin-right: 16px;
  margin-left: 16px;
}

@media only screen and (min-width: 992px) {
  .touch__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .title-box {
    width: 635px;
  }
}
/*touch section end*/
/*contact section bigen*/
.contact {
  padding-top: 48px;
  padding-bottom: 109px;
  background-color: var(--main-bg-color);
}

.contact__heading {
  margin: 0;
  padding-left: 0;
  list-style: none;
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323d;
}

.form-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.form__inp-box {
  width: 100%;
  font-weight: 700;
  font-size: 13px;
  line-height: 30px;
  color: #33323D;
  opacity: 0.8;
}

.form__inp {
  display: block;
  width: 100%;
  margin-top: 4px;
  padding: 9px 15px;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  background-color: rgba(51, 50, 61, 0.0823529412);
  color: #33323d;
  border: 0;
  outline: none;
}

.form__inp:not(:-moz-placeholder-shown):not(:focus):invalid ~ .form__invalid {
  opacity: 1;
}

.form__inp:not(:-ms-input-placeholder):not(:focus):invalid ~ .form__invalid {
  opacity: 1;
}

.form__inp:not(:placeholder-shown):not(:focus):invalid ~ .form__invalid {
  opacity: 1;
}

.form__inp::-moz-placeholder {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #33323d;
  opacity: 0.4;
}

.form__inp:-ms-input-placeholder {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #33323d;
  opacity: 0.4;
}

.form__inp::placeholder {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #33323d;
  opacity: 0.4;
}

.form__inp:focus {
  background-color: #ececed;
  border: 1px solid #5fb4a2;
}

.form__invalid {
  display: inline-block;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #f43030;
  opacity: 0;
}

.form__text {
  width: 100%;
  margin-top: 4px;
  margin-bottom: -8px;
  padding: 9px 15px;
  resize: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  background-color: rgba(51, 50, 61, 0.0823529412);
  color: #33323d;
  border: none;
  outline: none;
}

.form__text::-moz-placeholder {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #33323d;
  opacity: 0.4;
}

.form__text:-ms-input-placeholder {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #33323d;
  opacity: 0.4;
}

.form__text::placeholder {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #33323d;
  opacity: 0.4;
}

.form__text:focus {
  background-color: #ececed;
  border: 1px solid #5fb4a2;
}

.form__text:not(:-moz-placeholder-shown):not(:focus):invalid ~ .form__invalid {
  opacity: 1;
}

.form__text:not(:-ms-input-placeholder):not(:focus):invalid ~ .form__invalid {
  opacity: 1;
}

.form__text:not(:placeholder-shown):not(:focus):invalid ~ .form__invalid {
  opacity: 1;
}

.form__button {
  display: inline-block;
  padding: 17px 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #203a4c;
  color: #ffffff;
  border: 1px solid #33323d;
}

.form__button:hover {
  background-color: #fff;
  color: #333333;
  transition: background 0.4s ease;
}

@media only screen and (min-width: 992px) {
  .contact__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .form-box {
    width: 635px;
  }
}
/*contact section bigen*/
/*CONTACT HTML FILE BIGEN *//*# sourceMappingURL=main.css.map */