.hero {
    background-color: var(--main-bg-color);
}
.hero__wrapper {
    padding-top: 270px;
    background-image: url("/images/hero.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 270px;

    @media only screen and ( -webkit-min-device-pixel-ratio: 1.3 ),
    only screen and (    min--moz-device-pixel-ratio: 1.3 ),
    only screen and (      -o-min-device-pixel-ratio: 2.6/2 ), /* returns 1.3, see Dev.Opera */
    only screen and (         min-device-pixel-ratio: 1.3 ),
    only screen and ( min-resolution: 124.8dpi ),
    only screen and ( min-resolution: 1.3dppx ) {

        .hero__wrapper {
            background-image: url("/images/hero@2x.jpg");
        }
    }
}

.hero__box {
    padding-top: 24px;
    padding-bottom: 96px;
    background-color: var(--main-bg-color);
}
.hero__heading {
    margin-top: 0;
    font-family: "Ibarra Real Nova";
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323d;    
}
.hero__link {
    display: inline-flex;
    align-items: center;
    max-width: 200px;
    width: 200px;
    padding-right: 35px;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #203a4c;
    color: #ffffff;    
}
.hero__link::before {
    content: "";
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-right: 35px;
    background-color: #00000030;
    background-image: url("/images/about-linkl-decor.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.hero__link:hover {
    background-color: #5fb4a2;
    transition: background 0.6s ease;
}
@include mobile-first (380px) {
    .hero__wrapper {
        padding-top: 320px;
        background-size: 100% 320px;
    }
}
@include mobile-first (500px) {
    .hero__wrapper {
        padding-top: 380px;
        background-size: 100% 380px;
    }
}
@include mobile-first (530px) {
    .hero__wrapper {
        padding-top: 380px;
        background-size: 100% 380px;
    }
}
@include mobile-first (650px) {
    .hero__wrapper {
        padding-top: 290px;
        background-image: url("/images/hero-tablet.jpg");
        background-size: 100% 100%;
    }

    @media only screen and ( -webkit-min-device-pixel-ratio: 1.3 ),
    only screen and (    min--moz-device-pixel-ratio: 1.3 ),
    only screen and (      -o-min-device-pixel-ratio: 2.6/2 ), /* returns 1.3, see Dev.Opera */
    only screen and (         min-device-pixel-ratio: 1.3 ),
    only screen and ( min-resolution: 124.8dpi ),
    only screen and ( min-resolution: 1.3dppx ) {

        .hero__wrapper {
            background-image: url("/images/hero-tablet@2x.jpg");
        }
    }
    .hero__box {
        width: 514px;
        padding-bottom: 0;
    }
    .hero__heading {
        margin-bottom: 53px;
    }  
}
@include mobile-first (992px) {
    .hero__wrapper {
        padding-top: 300px;
        background-image: url("/images/hero-desktop.jpg");
        background-size: 100% 100%;
    }

    @media only screen and ( -webkit-min-device-pixel-ratio: 1.3 ),
    only screen and (    min--moz-device-pixel-ratio: 1.3 ),
    only screen and (      -o-min-device-pixel-ratio: 2.6/2 ), /* returns 1.3, see Dev.Opera */
    only screen and (         min-device-pixel-ratio: 1.3 ),
    only screen and ( min-resolution: 124.8dpi ),
    only screen and ( min-resolution: 1.3dppx ) {

        .hero__wrapper {
            background-image: url("/images/hero-desktop@2x.jpg");
        }
    }
    .hero__box {
        width: 445px;
        padding-top: 55px;
        padding-right: 55px;
    }
    .hero__heading {
        font-size: 50px;
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
        letter-spacing: -0.446429px;
    }
}